@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: '#f7fafc';
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 0.3;
  background-color: rgb(10,102, 194);
  background-color: rgba(10,102, 194, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

.dark .three-d {
  text-shadow: 0px 5px 0px #544519;
}

.three-d {
  text-shadow: none
}

/* Hide the default disclosure triangle */
details > summary {
  list-style: none;
}

/* Remove the default focus outline from Firefox */
details > summary::-moz-focus-inner {
  border: 0;
}

/* Add a custom disclosure triangle */
details > summary::before {
  content: '▶';
  display: inline-block;
  margin-right: 6px;
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}



/* Rotate the custom disclosure triangle when the details are open */
details[open] > summary::before {
  transform: rotate(0deg);
}
